<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sophisticated CSS - Profile</title>
        <meta name="keyword" content="CSS, Preprocessor, sophisticatedCSS, quiz, assesmment, test, profile, progress, report">
        <link rel="stylesheet" href="css/sophisticated.css" />
        <meta name="description"
        content="This is the profile page for the Sophisticated CSS site, it lets the user change their email and password, and shows them their progress">
    </head>

    <body>
        <header class="nav" id="nav" selectorTitle="Navigation">
            <div class="container container--centerVertical">
                <div class="nav__home">
                    <a href="index.html">SophisticatedCSS</a>
                </div>
                <nav class="nav__page">
                    <ul class="nav__ul">
                        <li class= "nav__li"><a href="sass.html">Sass</a></li>
                        <li class= "nav__li"><a href="less.html">Less</a></li>
                        <li class= "nav__li"><a href="stylus.html">Stylus</a></li>
                        <li class= "nav__li"><a href="postcss.html">PostCSS</a></li>
                        <li class= "nav__li"><a href="/quiz">Quiz</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    <section class="container">
        <section class="blackBlock blackBlock--label loginoutbox inputSet">
            <a class="inputSet__button loginoutbox__text" href="/logout">Logout</a>
        </section>
    </section>
    
    <section class="compare container">
        <table class="blackBlock">
            <thead>
                <tr>
                    <th>Profile</th>
                    <th>Information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Username</td>
                    <td><%= username %></td>
                </tr>
                <tr>
                    <td>E-mail address</td>
                    <td><%= email %></td>
                </tr>
            </tbody>
        </table>
    </section>

    <article class="container editprofile blackBlock">
        
        <section>
            <h1 class="editprofile__title">Change Profile</h1>            
            <form method="post" name="password" class="inputSet editprofile__password two-col inputSet--sidebyside">
                <input type="password" id="password" name="password" class="inputSet__input">
                <input type="submit" value="Change Password" class="inputSet__input inputSet__button">
                <% if (message.password) { %>
                    <h2><%= message.password %></h2>
                <% } %>
            </form>
            <form method="post" name="email" class="editprofile__email two-col inputSet inputSet--sidebyside">
                <input type="mail" id="email" name="email" class="inputSet__input">
                <input type="submit" value="Change Email" class="inputSet__input inputSet__button">
                <% if (message.email) { %>
                    <h2><%= message.email %></h2>
                <% } %>
            </form>
        </section>
    </article>
    <article class="container report">
        
        <section class="report__overall">
            <h2 class="report__title">Success rate</h2>
            <div class="blackBlock blackBlock--label report__oneProgress">
                <div class="two-col">
                    <h3 class="report__label ">All sessions</h3>
                </div>
                <div class="two-col">
                    <progress max="100" value="<%= data%>" class= "report__progressBar">
                </div>
            </div>
            <div class="blackBlock blackBlock--label report__oneProgress">
                <div class="two-col">
                    <h3 class="report__label ">Current session</h3>
                </div>
                <div class="two-col">
                    <progress max="100" value="<%= sessiondata%>" class= "report__progressBar">
                </div>
            </div>            
        </section>
        
        <section class="report__overall">
            <h2 class="report__title">Quizes report</h2>
            
            <% allquizes.forEach(function(element, index){ %>
                <div class="report__oneProgress blackBlock blackBlock--label">
                    <div class="two-col">
                        <h3 class="report__label "><%=element.getTitle() %></h3>
                    </div>
                    <div class="two-col">
                        <progress max="100" value="<%= allscores[index] %>" class= "report__progressBar">
                    </div>
                </div>
            <% }) %>
                     
        </section>
    </article>

    <footer class="footer" id="footer" selectorTitle="Footer">
        <div class="container container--centerVertical">
            <section class="footer__text">
                <h2 class="footer__name">SophisticatedCSS</h2>
                <p class="footer__info">SophisticatedCSS is an assignment for the course webtechnology at the
                    University in Utrecht</p>
                <p class="footer__info footer--topmargin">
                    <a href="https://github.com/DavidckPixel/SophisticatedCSS">Github</a> |
                    <a href="https://www.uu.nl">UU</a> |
                    <a href="http://www.cs.uu.nl/education/vak/INFOB2WT">Webtechnology</a>
                </p>
            </section>
            <img class="footer__img"
            src="image/uulogo.png" alt="UU Logo">

            <section class="footer__contributor">
            </section>
            <section class="footer__contributor">
            </section>
            <section class="footer__contributor">
            </section>
        </div>
    </footer>

    <section class="footer" id="attribute" selectorTitle="Attribute">
        <div class="container container--centerVertical">
            <section class="contributor">
                <h4 class="contributor__name">Laura Holtus</h4>
                <p class="contributor__number">1810057</p>
            </section>
            <section class="contributor">
                <h4 class="contributor__name">David Koymans</h4>
                <p class="contributor__number">6561829</p>
            </section>
            <section class="contributor">
                <h4 class="contributor__name">Jasper Weyne</h4>
                <p class="contributor__number">5960134</p>
            </section>
        </div>
    </section>
</body>
</html>
